.skeleton {
  background: #ddd;
  /* margin: 6px 0; */
  border-radius: 4px;
}
.skeleton.skeleton-img {
  width: 215px;
  height: 172px;
  margin-bottom: 15px;
}
.skeleton.skeleton-title {
  width: 80%;
  height: 20px;
  margin-bottom: 6px;

  /* margin-bottom: 5px; */
}
.skeleton.skeleton-text {
  width: 60%;
  height: 12px;
  margin-bottom: 15px;
}
.skeleton.skeleton-price {
  width: 80%;
  /* margin-top: 5px; */
  height: 20px;
  margin-bottom: 15px;
}
.skeleton.skeleton-btn {
  width: 70%;
  text-align: center;
  height: 30px;
}
.skeleton-card {
  width: 13.5rem;
  /* margin: 10px; */
  padding: 10px;
  /* border: 1px solid red; */
  /* box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.skeleton-wrapper {
  background: #f2f2f2;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
/* Animation  */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  0% {
    transform: translateX(150%);
  }
}
