@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
}
:root {
  --guest-login-btn-hover: #dcdcf8;
  --login-btn-hover: #5b5bf8;
}
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  margin-top: 6.25rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.56rem;
  padding: 1.56rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.email-validate,
.pswrd-validate {
  padding: 8px;
  color: grey;
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
}
.login-credentials {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
}
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reset-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.12rem;
}
.checkbox {
  margin-right: 5px;
}
.forgot-pswrd-link {
  color: var(--primary-color);
  text-decoration: none;
}
.login-btn {
  color: white;
  margin-top: 2px;
  font-weight: bolder;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}
.login-btn:hover {
  background-color: var(--login-btn-hover);
}
.have-account-link {
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
}
/* SignUp page */
.user-name {
  display: flex;
  gap: 1rem;
}
.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-guest-btn {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.login-guest-btn:hover {
  background-color: var(--guest-login-btn-hover);
}
