:root {
  --navbar-bg: #8484e2;

}
.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  background-color: var(--navbar-bg);
  z-index: 1;
}
.ecom-name {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--color-white);
}
.search-bar {
  width: 100%;
  outline: none;
  border: none;
}
.search-container {
  width: 20%;
  display: flex;
  background-color: var(--color-white);
  padding: 8px;
  border-radius: 1.56rem;
}
.wishlist-icon {
  color: var(--color-white);
}
.user-activity-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navbar-login-btn {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 6px 16px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: var(--color-white);
}
